port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev {{ openvpn_device }}
ca {{ ca_cert }}
cert {{ server_cert }}
key {{ server_key }}
dh {{ dh_param }}
server {{ vpn_subnet }} 255.255.255.0
ifconfig-pool-persist ipp.txt
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"
keepalive 10 120
cipher AES-256-CBC
comp-lzo
persist-key
persist-tun
status openvpn-status.log
verb 3